<footer class="footer">

  <div class="container text-center text-md-left">


    <div class="row">


      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">


        <h5 class="font-weight-bold text-uppercase mb-4">Ubicacion</h5>

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15129.982031590154!2d-88.4726650198484!3d18.55168644000482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5bb8431ffa54c9%3A0x740d049dbd09ce91!2sXul-Ha%2C+Q.R.!5e0!3m2!1ses!2smx!4v1554334501071!5m2!1ses!2smx"
          width="auto" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

      </div>




      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">


        <h5 class="font-weight-bold text-uppercase mb-4">Contacto</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              Diego Martinez</p>
          </li>
          <li>
            <p>
              Xul-Ha Quintana Roo</p>
          </li>
          <li>
            <p>
              diego.martinez@upinnovation.mx</p>
          </li>
          <li>
            <p>
              983 110 26 59</p>
          </li>
        </ul>

      </div>


      <hr class="clearfix w-100 d-md-none">


      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-2">


        <h5 class="font-weight-bold text-uppercase mb-4">Danos tu opinion</h5>

        <form class="form">
          <div class="form-group ">
            <label for="nombre" class="sr-only">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" class="form-control">
          </div>
          <div class="form-group ">
            <label for="apellido" class="sr-only">Apellido</label>
            <input type="email" name="email" id="email" placeholder="Correo" class="form-control">
          </div>
          <div class="form-group ">
            <label for="textArea" class="sr-only">Opinion</label>
            <textarea class="form-control " id="textArea" placeholder="Opinion" rows="4"></textarea>
          </div>
          <div class=" ">
            <button type="submit" class="btn btn-primary">Agregar</button>
          </div>
        </form>
      </div>


    </div>


  </div>



  <div class="footer-copyright text-center py-3">© 2019
  </div>


</footer>